MAINNET_RPC=https://eth-mainnet.alchemyapi.io/v2/xxx
RINKEBY_RPC=https://eth-rinkeby.alchemyapi.io/v2/xxxxx
ROPSTEN_RPC=https://ropsten.infura.io/v3/xxxxxx
MATIC_RPC="https://rpc-mainnet.maticvigil.com/"
MATIC_RPC_TEST="https://rpc-mumbai.maticvigil.com/"
BSC_RPC_TEST=https://data-seed-prebsc-1-s1.binance.org:8545
BSC_RPC=https://bsc-dataseed1.binance.org
PRIVATE_KEY_RINKEBY="0x....."
PRIVATE_KEY_ROPSTEN="0x.....
PRIVATE_KEY_MAINNET="0x.....
PRIVATE_KEY_BSC="0x.....
PRIVATE_KEY_MATIC="0x....."
ETHERSCAN_KEY="xxxx"
COINMARKETCAP_API="99xxxx"
BSC_SCAP_API_KEY="xxxxxx"
